.main-slider {
  overflow: 'auto';
  height: '100vh';
  position: 'fixed';
  left: 0;
  top: 0;
  bottom: 0;
}

.logo {
  height: 45px;
  margin: 16px;
  background-size: 100% 100%;
  background-image: url("https://raw.githubusercontent.com/robotx-school/eurobot-2024/master/logo.png");
  border-radius: 5px;
}

