
.main-slider {
  overflow: 'auto';
  height: '100vh';
  position: 'fixed';
  left: 0;
  top: 0;
  bottom: 0;
}

.logo {
  height: 32px;
  margin: 16px;
  background-size: 100% 100%;
  background-color: #60555570;
  border-radius: 5px;
}

